.btn-login {
    font-size: 0.9rem;
    letter-spacing: 0.05rem;
    padding: 0.75rem 1rem;
  }

  .card-book{
    width: 420px;
height: 220px;
flex-shrink: 0;
    border-radius: 6px;
background: #e7e4e4a5;

/* shadow/x3 */
box-shadow: 0px 3px 10px 0px rgba(32, 32, 32, 0.10);
}
/* Add this to your CSS */

/* Add this to your CSS */

